body {
    background: white;
    color: black;
    font-family: arial, sans-serif;
    text-align: center;
    align-items: center;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    font-family: inherit;
    font-size: inherit;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: white;
}

.main {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: auto;
    min-height: 300px;
    margin-top: 50px;
}

nav {
    display: flex;
    margin: 10px;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
}

.nav-link {
    margin: 0px 10px 0px 10px;
    opacity: 0.85;
}

.nav-link:hover {
    color: inherit;
    text-decoration: underline;
}

.nav-button {
    background-color: transparent;
    border-color: transparent;
    border-radius: 100px;
    margin: 0px 5px 0px 5px;
}

.nav-button:hover,
.nav-button:focus-within {
    background-color: rgba(30, 30, 34, 0.1);
    border-color: transparent;
}

.nav-icon {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border-radius: 50px;
}

.logo {
    width: 272px;
    height: 92px;
    margin: 30px;
    background: white;
}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 25px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(30, 30, 34, 0.1);
    border-radius: 30px;
}

.searchbar:hover,
.searchbar:focus-within {
    border-color: white;
    box-shadow: 0 1px 6px 0 rgba(30, 33, 34, 0.28);
}

.search-input {
    border-color: transparent;
    outline: transparent;
    width: 100%;
    height: 100%;
}

.search-icon {
    width: 25px;
    height: 25px;
    margin: 0px 10px 0px 0px;
}

.mic-button:hover,
.mic-button:focus-within {
    background-color: transparent;
    border-color: transparent;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.mic-button {
    background-color: transparent;
    border-color: transparent;
}

.mic-icon {
    width: 25px;
    height: 25px;
}

.search-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    margin-top: 10px;
    background: transparent;
}

.button-search {
    margin: 20px 10px 20px 10px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #3c4043;
    background-color: #f8f9fa;
    font-size: 14px;
}

.button-search:hover,
.button-search:focus {
    border: 1px solid rgba(30, 33, 34, 0.1);
    box-shadow: 0 1px 6px 0 rgba(30, 33, 34, 0.1);
}

footer {
    display: inherit;
    align-items: center;
    justify-content: last baseline;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #f2f2f2;
    color: #70757a;
}

.first-footer,
.second-footer {
    display: flex;
    background: #f2f2f2;
}

.second-footer {
    margin-right: 30px;
}

.footer-link {
    padding: 10px 0px 10px 30px;
}

.footer-link:hover {
    text-decoration: underline;
}